html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: #00f;
  text-decoration: none;
}

a:hover {
  color: #800080;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.react-icons {
  vertical-align: middle;
  font-size: 1.8rem;
  width: 1.25em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 2em;
}

li {
  padding: 3px 0 3px 0;
}
